<header>
  <div class="interace">
    <section class="logo">
      <img
        width="88"
        height="88"
        src="../static/img/logo.png"
        alt="Logotipo do site"
      />
    </section>
    <!-- interface -->

    <section class="menu-desktop">
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">Sobre mim</a></li>
          <li><a href="curriculum.html">Curriculo</a></li>
          <li><a href="knowledge.html">Conhecimentos</a></li>
        </ul>
      </nav>
    </section>
    <!-- menu-desktop -->

    <section class="btn-contact">
      <a href="contact.html">
        <button>Contato</button>
      </a>
    </section>
    <!-- btn-contact -->
  </div>
</header>
