@import url("header.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section.container{
    height: 98vh;
    background: linear-gradient(to bottom, #093C2D, #3B6654, #63A593);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.container .interace{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}




/* style of buttons */
.buttons {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.btn-instagram {
    display: inline-block;
    background-color: #093C2D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-instagram:hover {
    background-color: #075E40;
}