@import url("header.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* style of section */
section.container {
    min-height: 100vh;
    background: linear-gradient(to bottom, #093C2D, #3B6654, #63A593);
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}
section .interace {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;;
    height: 20rem;
    width: 40rem;
    border-radius: 1rem;
}
/* /style of section */

/* Style of foto */
.foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #093C2D;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
}
.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* /Style of foto */

/* Style of buttons */
.buttons {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.linha {
    width: 2px;
    height: 40px; 
    background-color: #093C2D;
}
.btn-email {
    display: inline-block;
    background-color: #093C2D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-linkedin {
    display: inline-block;
    background-color: #093C2D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-github {
    display: inline-block;
    background-color: #093C2D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-instagram:hover,
.btn-x:hover,
.btn-linkedin:hover {
    background-color: #075E40;
}
/* /Style of buttons */