/* Mobile */
@media (max-width: 450px) {
    section.container {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    section .interace {
        height: auto;
        width: 90%;
        flex-direction: column;
        padding: 1.5rem;
    }

    .title {
        width: 10%;
        font-size: 2rem;
        text-align: center;
        padding: 1.1rem;
    }

    .p1 {
        font-size: 1em;
        padding: 1rem;
        text-align: center;
    }

    .components {
        width: 100%;
    }

    .foto {
        width: 12rem;
        height: 12rem;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    .buttons a {
        max-width: 100%;
    }

    .card {
        width: 100%;
        margin: 0;
    }

    .card-header {
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Desktop */
@media (min-width: 1318px) and (max-width: 1871px) {
    section.container {
        height: 100vh;
        min-width: 1318px;
        padding: 5rem;
    }
    section .container .interace {
        background-color: #fff;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }
}