<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    <title>Little about me</title>
</head>
<body>
    <div id="header-placeholder"></div>

    <section class="container">
        <div class="interace">
            <div class="txt">
                <h1>Sobre mim</h1>
                <p>Prazer me chamo Luiz Becker, natural de Estância Velha e atuo na área de Tecnologia da Informação desde 2022. Minha trajetória profissional é movida pela busca constante de aprendizado e crescimento, explorando diferentes áreas da TI para encontrar minha especialização ideal. Atualmente, estou cursando Análise e Desenvolvimento de Sistemas e desenvolvendo minhas habilidades em programação, suporte técnico (Help Desk) e trabalho em equipe. Minha dedicação e concentração são meus maiores diferenciais, sempre focado em entregar soluções eficientes e de qualidade. Estou aberto a novas oportunidades e desafios no setor de tecnologia. Se quiser trocar uma ideia ou conhecer mais sobre meu trabalho, entre em contato!</p>
            </div>
            <div class="buttons">
                <a href="https://www.instagram.com/becker8_/" class="btn-instagram">Instagram</a>
            </div>
        </div>
    </section>

    <!-- https://www.instagram.com/becker8_/ -->
    <script src="../static/js/loadHeader.js"></script>
</body>
</html>