<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim - Luiz Becker</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="shortcut icon" href="../static/img/logo.jpg" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header-placeholder"></div>

    <section class="container">
        <div class="interace">
            <div class="txt">
                <h1 id="digitando" class="title"></h1>
                <p class="p1">
                    Prazer! Meu nome é Luiz Becker, natural de Estância Velha, e atuo na área de Tecnologia da Informação desde 2022. Minha trajetória profissional é movida pela busca constante de aprendizado e crescimento, explorando diferentes áreas da TI para encontrar minha especialização ideal.
                    Atualmente, estou cursando Análise e Desenvolvimento de Sistemas e desenvolvendo minhas habilidades em programação, suporte técnico (Help Desk) e trabalho em equipe. Além disso, valorizo e pratico habilidades socioemocionais essenciais, como regulação do nível de estresse, resolução pacífica de conflitos, empatia e autoconhecimento.
                    Minha dedicação e concentração são meus maiores diferenciais, sempre focado em entregar soluções eficientes e de qualidade. Estou aberto a novas oportunidades e desafios no setor de tecnologia. Se quiser trocar uma ideia ou conhecer mais sobre meu trabalho, entre em contato!
                </p>

            </div>
            <div class="buttons">
                <a href="https://www.instagram.com/becker8_/" class="btn-instagram" target="_blank">Instagram</a>
                <a href="https://www.linkedin.com/in/luizbecker08" class="btn-linkedin" target="_blank">LinkedIn</a>
                <a href="https://x.com/becker8_" class="btn-x" target="_blank">Twitter</a>
            </div>
            <!-- <div class="foto">
                    <img src="../static/img/ft01.jpg" alt="Foto de Luiz Becker">
            </div> -->
        </div>
    </section>

    <!-- Imports -->
    <script src="../static/js/loadHeader.js"></script>
    <script src="../static/js/textD.js"></script>
</body>
</html>
