<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    <title>Entre em contato</title>
</head>
<body>

    <header>
        <div class="interace">
          <section class="logo">
            <img
              width="88"
              height="88"
              src="../static/img/logo.png"
              alt="Logotipo do site"
            />
          </section>
          <!-- interface -->
      
          <section class="menu-desktop">
            <nav>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="curriculum.html">Curriculum</a></li>
                <li><a href="knowledge.html">Knowledge</a></li>
              </ul>
            </nav>
          </section>
          <!-- menu-desktop -->
      
          <section class="btn-contact">
            <a href="index.html">
              <button>To go back</button>
            </a>
          </section>
          <!-- btn-contact -->
        </div>
      </header>

    <!-- <div id="header-placeholder"></div> -->

    <section class="container">
        <div class="interace">
            <div class="infos">
                <h1>Tem uma dúvida ou um projeto? Eu posso ajudar!</h1>
                <p>Me envie um e-mail ou acesse minhas redes sociais e vamos juntos transformar suas dúvidas, propostas ou projetos em realidade. Estou pronto para ajudar no que for preciso.</p>
                
                <div class="buttons">
                <a href="https://github.com/LuizBecker01" class="btn-github">Github</a>
                  <div class="linha"></div> <!-- Linha vertical -->
                <a href="mailto:luizhenriquebecker000@gmail.com" class="btn-email">Enviar e-mail</a>
                  <div class="linha"></div> <!-- Linha vertical -->
                <a href="https://www.linkedin.com/in/luizbecker08" class="btn-linkedin">LinkedIn</a>
                <!-- <a href="https://www.instagram.com/@becker8_/" class="btn-instagram">Instagram</a> -->
                </div>
                <!-- <div class="buttons-container">
                </div> -->
            </div>
        </div>
    </section>

    <!-- <script src="../static/js/loadHeader.js"></script> -->
</body>
</html>