<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>Site by Luiz Becker</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="flex">
                <img class="logo" src="../static/img/logo.png" alt="">
                <nav>
                    <ul>
                        <li><a href="HOME"></a></li>
                        <li><a href="About"></a></li>
                        <li><a href="knowledge"></a></li>
                    </ul>
                </nav>
                <div class="btn-contato">
                    <a href="#">Contato</a>
                </div>
            </div><!--flex-->
        </div><!--container-->
    </header>

    <section class="banner">
        <h1>WebSite - <span>Luiz Becker</span></h1>
    </section>
</body>
</html>